<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/detalles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <main class="main">
        <section class="productos">
            <div class="todos_los_productos">
                <div class="imagenes_producto">
                    <img src="../storage/img/imagenDefault.jpg">
                    <img src="../storage/img/imagenDefault.jpg">
                    <img src="../storage/img/imagenDefault.jpg">
                    <img src="../storage/img/imagenDefault.jpg">
                </div>
                <div class="imagen_principal">
                    <img src="../storage/img/imagenDefault.jpg">
                </div>
                <div class="contenido">
                    <div class="nombre_producto">
                        <h6>Nombre del producto</h6>
                    </div>
                    <div class="calidad_producto">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                    </div>
                    <div class="descripcion_producto">
                        </h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Aperiam aliquam magnam debitis minus voluptates! Natus corporis 
                        deleniti, officiis id et, numquam eius maxime esse, non porro ad 
                        vitae similique quisquam.
                        <h3>
                    </div>
                    <div class="precio_producto">
                        <div class="precio_original">
                            $100.000
                        </div>
                        <div class="precio_antes">
                            $99.99
                        </div>
                    </div>
                    <div class="comprar_producto">
                        <button>Obtener</button>             
                    </div>
                </div>
            </div>
        </section>
        <section class="detalles">
            <div class="titulo">
                <div class="titulo_detalle">
                    <h3>Detalles</h3>
                </div>
                <div class="cerrar_detalle">
                    <a href="../index.html"><i class='bx bx-x bx-rotate-90' undefined ></i></a>
                </div>
            </div>
            <div class="todos_los_detalles">
                <div class="numeros_de_detalles">
                    <div class="detalle">
                        <div class="produtos">
                            <div class="imagen_del_producto">
                                <img src="../storage/img/imagenDefault.jpg">
                            </div>
                            <div class="cantidad">
                                <div class="nombre_del_producto">Nombre del producto</div>
                                <div class="cantidad_del_producto">5</div>
                            </div>
                            <div class="precios">
                                <div class="cerrar"><i class='bx bx-x bx-rotate-90' undefined ></i></div>
                                <div class="precio_antes_despues">
                                    $500.000 $499.95
                                </div>
                            </div>
                        </div>
                        <div class="produtos">
                            <div class="imagen_del_producto">
                                <img src="../storage/img/imagenDefault.jpg">
                            </div>
                            <div class="cantidad">
                                <div class="nombre_del_producto">Nombre del producto</div>
                                <div class="cantidad_del_producto">5</div>
                            </div>
                            <div class="precios">
                                <div class="cerrar"><i class='bx bx-x bx-rotate-90' undefined ></i></div>
                                <div class="precio_antes_despues">
                                    $500.000 $499.95
                                </div>
                            </div>
                        </div>
                        <div class="produtos">
                            <div class="imagen_del_producto">
                                <img src="../storage/img/imagenDefault.jpg">
                            </div>
                            <div class="cantidad">
                                <div class="nombre_del_producto">Nombre del producto</div>
                                <div class="cantidad_del_producto">5</div>
                            </div>
                            <div class="precios">
                                <div class="cerrar"><i class='bx bx-x bx-rotate-90' undefined ></i></div>
                                <div class="precio_antes_despues">
                                    $500.000 $499.95
                                </div>
                            </div>
                        </div>
                        <div class="produtos">
                            <div class="imagen_del_producto">
                                <img src="../storage/img/imagenDefault.jpg">
                            </div>
                            <div class="cantidad">
                                <div class="nombre_del_producto">Nombre del producto</div>
                                <div class="cantidad_del_producto">5</div>
                            </div>
                            <div class="precios">
                                <div class="cerrar"><i class='bx bx-x bx-rotate-90' undefined ></i></div>
                                <div class="precio_antes_despues">
                                    $500.000 $499.95
                                </div>
                            </div>
                        </div>
                        <div class="produtos">
                            <div class="imagen_del_producto">
                                <img src="../storage/img/imagenDefault.jpg">
                            </div>
                            <div class="cantidad">
                                <div class="nombre_del_producto">Nombre del producto</div>
                                <div class="cantidad_del_producto">5</div>
                            </div>
                            <div class="precios">
                                <div class="cerrar"><i class='bx bx-x bx-rotate-90' undefined ></i></div>
                                <div class="precio_antes_despues">
                                    $500.000 $499.95
                                </div>
                            </div>
                        </div>
                        <div class="produtos">
                            <div class="imagen_del_producto">
                                <img src="../storage/img/imagenDefault.jpg">
                            </div>
                            <div class="cantidad">
                                <div class="nombre_del_producto">Nombre del producto</div>
                                <div class="cantidad_del_producto">5</div>
                            </div>
                            <div class="precios">
                                <div class="cerrar"><i class='bx bx-x bx-rotate-90' undefined ></i></div>
                                <div class="precio_antes_despues">
                                    $500.000 $499.95
                                </div>
                            </div>
                        </div>
                        <div class="produtos">
                            <div class="imagen_del_producto">
                                <img src="../storage/img/imagenDefault.jpg">
                            </div>
                            <div class="cantidad">
                                <div class="nombre_del_producto">Nombre del producto</div>
                                <div class="cantidad_del_producto">5</div>
                            </div>
                            <div class="precios">
                                <div class="cerrar"><i class='bx bx-x bx-rotate-90' undefined ></i></div>
                                <div class="precio_antes_despues">
                                    $500.000 $499.95
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="total_detalle">
                <div class="titulo_total">
                    <h3>TOTAL</h3>
                </div>
                <div class="precio_total">
                    <h2>$1.999.8</h2>
                    <button><a href="pagar.html">Pagar</a></button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>